.footer {
  --color-footer-text: var(--color-cloud);
  
  margin: auto auto 0;
  width: 100%;
  padding: 100px 0;
  background-color: #2e2f42;

  &__content {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  &__text-wrapper {
    margin-right: 120px;
  }

  .logo {
    margin-bottom: 16px;
    display: inline-block;
  }

  &__promote {
    max-width: 264px;
    color: var(--color-footer-text);
  }

  &__links-title {
    margin-bottom: 1rem;
    font-weight: 500;
    color: #fff;
  }

  &__form {
    margin-left: 80px;
    flex-grow: 1;
  }
}