.modal {
  --modal-title-color: #2E2F42;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    @include is-active;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 4.5rem 1.5rem 1.5rem;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @include transition(transform);
    @include media(768) {
      width: 408px;
    }
  }

  &__close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include event {
      background-color: #404bbf;
      border: none;

      svg {
        fill: #fff;
      }
    }

    svg {
      fill: #2E2F42;

      @include transition(fill);
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--modal-title-color);
  }
}

.form-primary {
  --label-text-color: #8e8f99;
  --link-color: #4d5ae5;

  $this: &;

  &__wrapper {
    margin-bottom: .5rem;

    &--mb16 {
      margin-bottom: 1rem;
    }

    &--mb24 {
      margin-bottom: 1.5rem;
    }
  }

  &__label {
    margin-bottom: 0.25rem;
    display: block;
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: .04em;
    color: var(--label-text-color);
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;

    @include transition(border-color);

    @include event {
      border-color: #4D5AE5;

      & + svg {
        fill: #4D5AE5;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--modal-title-color);
    pointer-events: none;

    @include transition(fill);
  }

  &__textarea {
    @extend .form-primary__input;

    font-size: .75rem;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    padding: 0.5rem 1rem;
    display: block;
    width: 100%;
    min-height: 120px;
    resize: none;
    color: rgba(46, 47, 66, 0.4); 
  }

  &__checkbox {
    &:checked + {
      #{$this} {
        &__checkbox-label {
          #{$this} {
            &__checkbox-pseudo {
              background-color: #404bbf;
              border: none;
              fill: #F4F4FD;
            }
          }
        }
      }
    }
  }

  &__checkbox-label {
    position: relative;
    display: block;
    padding-left: 1.5rem;
    color: #8E8F99;
    font-size: .75rem;
    line-height: 1.17;
    letter-spacing: 0.04em;
    cursor: pointer;
    pointer-events: none;
  }

  &__link {
    color: var(--link-color);
    pointer-events: auto;
  }

  &__checkbox-pseudo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: auto;
    cursor: pointer;
  }

  &__action {
    @extend .hero__action;

    margin-top: 1rem;
    min-width: 169px;
  }
}